.container {
  background-color: rgb(155, 159, 184);
  min-height: 100vh;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.card {
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 16px;
    margin: 10px 0;
    background-color: #ccc;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    gap: 1px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.imagem {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 4px;
}

.lista {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.botao {
  background-color: #474444;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  display: inline-block;
  margin-bottom: 20px;
  transition: background 0.3s;
}

.botao:hover {
  background-color: black;
}

.botoes {
  display: flex;
  gap: 10px;
  margin-top: auto;
}

.erro {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
}

.titulo {
  display: flex;
  justify-content: center;
}

.btnAcao {
  border: none;
  padding: 5px 10px;
  margin-top: 8px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  color: black;
  transition: opacity 0.2s;
}

.btnAcao:hover {
  opacity: 0.8;
}

.btnDeletar {
  background-color: #d35400;
}

.btnEditar {
  background-color: #3498db
}