.container {
  background-color: rgb(155, 159, 184);
  min-height: 100vh;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.card {
    border: 1px solid #ccc;      /* Uma borda cinza fina */
    border-radius: 20px;          /* Cantos arredondados */
    padding: 16px;               /* Espaço interno (respiro) */
    margin: 10px 0;              /* Espaço externo entre os cards */
    background-color: #ccc;      /* Fundo branco */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Uma sombra leve */
    display: flex;               /* Organiza os itens internos */
    flex-direction: column;      /* Empilha um embaixo do outro */
    gap: 1px;                   /* Espaço entre os itens dentro do card */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-10px); /* Move 10 pixels para CIMA (Y negativo) */
    box-shadow: 0 10px 20px rgba(0,0,0,0.2); /* Aumenta a sombra para parecer que subiu */
}

.imagem {
    width: 100%;                 /* A imagem ocupa toda a largura */
    height: 200px;               /* Altura fixa para todas ficarem iguais */
    object-fit: cover;           /* Corta a imagem para não distorcer */
    border-radius: 4px;
}

.lista {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.botao {
  background-color: #474444; /* Um laranja apetitoso */
  color: white;              /* Texto branco */
  padding: 10px 20px;        /* Espaço interno: 10px vertical, 20px horizontal */
  text-decoration: none;     /* Remove o sublinhado padrão de link */
  border-radius: 5px;        /* Bordas arredondadas */
  font-weight: bold;
  display: inline-block;     /* Permite que o link respeite as margens */
  margin-bottom: 20px;       /* Empurra a lista de cards para baixo */
  transition: background 0.3s; /* Um charme suave ao passar o mouse */
}

.botao:hover {
  background-color: black; /* Escurece um pouco quando passa o mouse */
}

.botoes {
  display: flex;
  gap: 10px;
  margin-top: auto;
}

.erro {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
}

.titulo {
  display: flex;
  justify-content: center;
}

/* Estilo base (forma) para TODOS os botões de ação */
.btnAcao {
  border: none;
  padding: 5px 10px;
  margin-top: 8px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  color: black;
  transition: opacity 0.2s;
}

.btnAcao:hover {
  opacity: 0.8;
}

.btnDeletar {
  background-color: #d35400;
}

.btnEditar {
  background-color: #3498db
}