.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.conteudo {
    background-color: #ccc;
    padding: 30px;
    border-radius: 5px;
    max-width: 500px;
    max-height: 80vh;
    overflow-y: auto;
}